*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');
html {
  // 10px for all default mobile or desktop view then use 1rem = 10px
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-size: 1.4rem;
}

.form-control {
  font-size: 1.4rem;
}

/* Chrome, Safari, Opera */

.fadeInUp {
  -webkit-animation: fadeInUp 200ms ease-in-out; /* Chrome, Safari, Opera */
  animation: fadeInUp 200ms ease-in-out;
}

.fadeInDown {
  -webkit-animation: fadeInDown 500ms ease-in-out; /* Chrome, Safari, Opera */
  animation: fadeInDown 500ms ease-in-out;
}

.fadeInRight {
  -webkit-animation: fadeInRight 500ms ease-in-out; /* Chrome, Safari, Opera */
  animation: fadeInRight 500ms ease-in-out;
}

.fadeInLeft {
  -webkit-animation: fadeInLeft 500ms ease-in-out; /* Chrome, Safari, Opera */
  animation: fadeInLeft 500ms ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
